<main class="col-10 d-flex justify-content-center">

  <div class="container border border-3 border-success p-2 rounded" style="margin: 20px;" >
    <h3 class="text-center">Lojas Cadastradas</h3>
    <div class="panel panel-default">
      <div class="panel-heading text" style="display: flex; margin: 10px;justify-content:center">
        <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Cadastrar Loja
        </button>
      </div>
      <div class="panel-body">
        <div class="table table-responsive">
          <table style="width: 100%;" class="table">
            <thead class="table-dark">
              <tr>
                <th>Número da Loja</th>
                <th>Rua</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Gerente</th>
                <th>Email do gerente</th>
                <th colspan="2">Ações</th>
              </tr>
            </thead>
            <tbody class="table-group-divider table-success table-bordered border-success">
              <% lojas.forEach(function(loja){ %>
              <tr>
                <td><%= loja.loja_id %></td>
                <td><%= loja.endereco %></td>
                <td><%= loja.bairro %></td>
                <td><%= loja.cidade %></td>
                <td><%= loja.primeiro_nome +" "+ loja.ultimo_nome %></td>
                <td><%= loja.email %></td>

                <!-- <td>
                  <button class="btn btn-warning"><i class="fa-solid fa-pencil"></i></button>
                </td> -->
                <td>
                  <button onclick="deleteLoja('<%= loja.loja_id %>')" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                </td>
              </tr>
              <% }) %>

            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="submit-form" method="POST" action="/lojas/salvar">

            <div class="row">
              <div class="col-md-12 form-group">
                <label for="rua">Rua</label>
                <input type="text" name="rua" class="form-control">
                <label for="bairro">Bairro</label>
                <input type="text" name="bairro" class="form-control">
                <label for="cep">CEP</label>
                <input type="text" name="cep" class="form-control">
                <label for="telefone">Telefone</label>
                <input type="number" name="telefone" class="form-control">
                <label for="cidade">Cidade</label>
                <select class="form-control" name="cidade">
                  <% cidades.forEach(function(cidade){ %>
                  <option value="<%=cidade.cidade_id%>"><%= cidade.cidade %></option>
                  <% }) %>

                </select>
                <label for="funcionario">Funcionário</label>
                <select class="form-control" name="funcionario">
                  <% funcionarios.forEach(function(funcionario){ %>
                  <option value="<%=funcionario.funcionario_id%>"><%= funcionario.primeiro_nome + " " + funcionario.ultimo_nome %></option>
                  <% }) %>
                </select>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>

        </div>
      </div>
    </div>


</main>

<script>
  function deleteLoja(idLojaDelete){
    $.ajax({
      method: "DELETE",
      url: '/lojadelete',
      data: {idLoja: parseInt(idLojaDelete)},

    }).done(function(response) {
      alertify.success('Deu certo em')
        setTimeout(() => location.reload(),2000)
    }).fail(function(jqXHR, textStatus) {
      alertify.error('Não foi possível excluir a loja!')
    })
  }

  $('form').submit(function(){
    $(this)[0].reset();
});

</script>

<% if(locals.success && success === true){ %>
<script>
  alertify.success('<%=message%>');
</script>
<% }else if(locals.success && success === false) { %>
<script>
  alertify.error('<%=message%>');
</script>
<% } %>
