<div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" >Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="submit-form" method="POST" action="/lojas/salvar">

          <div class="row">
            <div class="col-md-12 form-group">
              <label for="rua">Rua</label>
              <input value="<%= locals.endereco ? endereco.endereco : '' %>" type="text" name="rua" class="form-control">
              <label for="bairro">Bairro</label>
              <input value="<%= locals.endereco ? endereco.bairro : '' %>" type="text" name="bairro" class="form-control">
              <label for="cep">CEP</label>
              <input value="<%= locals.endereco ? endereco.cep : '' %>" type="text" name="cep" class="form-control">
              <label for="telefone">Telefone</label>
              <input value="<%= locals.endereco ? endereco.telefone : '' %>" type="number" name="telefone" class="form-control">
              <label for="cidade">Cidade</label>
              <select class="form-control" name="cidade">
                <% cidades.forEach(function(cidade){ %>
                <option value="<%=cidade.cidade_id%>"><%= cidade.cidade %></option>
                <% }) %>

              </select>
              <label for="funcionario">Funcionário</label>
              <select class="form-control" name="funcionario">
                <% funcionarios.forEach(function(funcionario){ %>
                <option value="<%=funcionario.funcionario_id%>"><%= funcionario.primeiro_nome + " " + funcionario.ultimo_nome %></option>
                <% }) %>
              </select>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>

      </div>
    </div>